<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjnbit.bbs.api.mapper.BbsReplyLikeMapper">
    <resultMap id="BaseResultMap" type="com.zjnbit.bbs.api.model.entity.BbsReplyLikeEntity">
        <!--@mbg.generated-->
        <!--@Table bbs_reply_like-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="reply_id" jdbcType="BIGINT" property="replyId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="is_valid" jdbcType="BOOLEAN" property="isValid"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, reply_id, user_id, is_valid, create_user, create_time, update_user, update_time,
        version, is_deleted
    </sql>
</mapper>