<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjnbit.bbs.api.mapper.BbsUserFollowMapper">
    <resultMap id="BaseResultMap" type="com.zjnbit.bbs.api.model.entity.BbsUserFollowEntity">
        <!--@mbg.generated-->
        <!--@Table bbs_user_follow-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="follow_user_id" jdbcType="BIGINT" property="followUserId"/>
        <result column="is_follow" jdbcType="BOOLEAN" property="isFollow"/>
        <result column="follow_time" jdbcType="TIMESTAMP" property="followTime"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, follow_user_id, is_follow, follow_time, create_user, create_time, update_user,
        update_time, version, is_deleted
    </sql>
</mapper>