<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjnbit.bbs.api.mapper.UserSocialMapper">
    <resultMap id="BaseResultMap" type="com.zjnbit.bbs.api.model.entity.UserSocialEntity">
        <!--@mbg.generated-->
        <!--@Table user_social-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="social_id" jdbcType="VARCHAR" property="socialId"/>
        <result column="social_type" jdbcType="VARCHAR" property="socialType"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="union_id" jdbcType="VARCHAR" property="unionId"/>
        <result column="user_secret_key" jdbcType="VARCHAR" property="userSecretKey"/>
        <result column="userinfo" jdbcType="VARCHAR" property="userinfo"/>
        <result column="create_user" jdbcType="BIGINT" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="BIGINT" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, user_id, social_id, social_type, open_id, union_id, user_secret_key, userinfo,
        create_user, create_time, update_user, update_time, version, is_deleted
    </sql>
</mapper>